<div class="container">
    <form name="myForm">
        <label>Select Name</label><br>
        <select ng-model="currentName" ng-options="option.name for option in resultsArray" ng-change="getAddress(currentName)">
        </select>
    </form>

    <p>You Have Selected: {{currentName.name}}</p>

    <div ng-repeat="address in addressResultsArray">
        <div class="order-container">
            <h3>{{address.address_type}} Address:</h3>
            <p>{{address.address_street}}</p>
            <p>{{address.address_city}}, {{address.address_state}} {{address.address_zip}}</p>
        </div>
    </div>
</div>